/* Font-family styles */
@font-face {
  font-family: Lato;
  src: url(src/fonts/Lato-Light.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url(src/fonts/Lato-Bold.ttf);
  font-weight: bold;
}

/* Styles for all document */

body {
  max-width: 1020px;
  margin: auto;
  font-family: Lato;
}

/*Header*/

header {
  background-color: #2d303a;
  height: 89px;
  border-bottom: 6px solid #323746;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: white;
}

.logo_colored {
  color: #f06c64;
}

.navigation {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: -0.035em;
}

.navigation ul li {
  display: inline-block;
}

/*Slider*/

/*Services*/

/*Portfolio*/

/*Footer*/
