/* Font-family styles */
@font-face {
  font-family: lato-black;
  src: url(../src/fonts/lato-black.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-blackitalic;
  src: url(../src/fonts/lato-blackitalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-bold;
  src: url(../src/fonts/lato-bold.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-bolditalic;
  src: url(../src/fonts/lato-bolditalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-hairline;
  src: url(../src/fonts/lato-hairline.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-hairlineitalic;
  src: url(../src/fonts/lato-hairlineitalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-heavy;
  src: url(../src/fonts/lato-heavy.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-heavyitalic;
  src: url(../src/fonts/lato-heavyitalicttf);
  font-weight: normal; }
@font-face {
  font-family: lato-italic;
  src: url(../src/fonts/lato-italic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-light;
  src: url(../src/fonts/lato-light.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-lightitalic;
  src: url(../src/fonts/lato-lightitalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-medium;
  src: url(../src/fonts/lato-medium.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-black;
  src: url(../src/fonts/lato-mediumitalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-regular;
  src: url(../src/fonts/lato-regularttf);
  font-weight: normal; }
@font-face {
  font-family: lato-semibold;
  src: url(../src/fonts/lato-semibold.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-semibolditalic;
  src: url(../src/fonts/lato-semibold.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-thin;
  src: url(../src/fonts/lato-thin.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-thinitalic;
  src: url(../src/fonts/lato-thinitalic.ttf);
  font-weight: normal; }
/* Styles for all document */
body {
  max-width: 1020px;
  margin: auto;
  font-family: "lato-light";
  position: relative; }

/*Header*/
.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8% 4% 3.5% 4%; }

.burger-menu {
  position: relative; }

.burger-image {
  width: 25px;
  height: 25px; }

.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: white;
  margin: 0;
  max-height: 25px; }

.logo_colored {
  color: #f06c64; }

.navigation {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: -0.035em; }

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  margin-top: 14px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation-list li {
  margin-right: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.navigation-list li:hover {
  cursor: pointer;
  color: #f06c64; }

.circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  margin: 10px; }

/*Slider*/
.slider {
  position: relative;
  border-bottom: 6px solid #ea676b; }

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0; }

.red {
  display: block;
  list-style: none;
  background: url(/src/image/red.png);
  background-position: center;
  background-size: contain;
  background-color: #f06c64;
  background-repeat: no-repeat;
  width: 100%; }

.blue {
  display: none;
  list-style: none;
  background: url(/src/image/blue.png);
  background-position: center;
  background-size: contain;
  background-color: #648bf0;
  background-repeat: no-repeat;
  width: 100%; }

.arrow-sliders {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: calc((100% - 27px) / 2);
  width: 100%;
  margin: 0;
  z-index: 3; }

.arrow-left {
  display: inline-block;
  margin: 0 3.92%; }

.arrow-right {
  display: inline-block;
  margin: 0 3.92%; }

/*Services*/
.services {
  border-bottom: 6px solid #ffffff;
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px; }

.services-title {
  padding: 59px 0px 0px 40px;
  margin: 0 0 18px 0;
  height: 36px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #666d89; }

.services-text {
  padding: 0px 40px 0 40px;
  margin: 18px 0 0 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e; }

.services-types {
  padding: 4%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #666d89; }

.services-types li {
  margin: 0;
  padding: 0 0 0 100px;
  color: #767e9e;
  position: relative;
  list-style-type: none; }

.services-types li::before {
  content: "";
  position: absolute;
  display: block;
  top: 15px;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 2px solid #666d89;
  border-radius: 50%;
  margin: 20px; }

.design::before {
  background: url(/src/image/services-item-1--nocircle.svg); }

.ideas::before {
  background: url(/src/image/services-item-2--nocircle.svg); }

.answer::before {
  background: url(/src/image/services-item-3--nocircle.svg); }

.layout::before {
  background: url(/src/image/services-item-4--nocircle.svg); }

.support::before {
  background: url(/src/image/services-item-5--nocircle.svg); }

.star::before {
  background: url(/src/image/services-item-6--nocircle.svg); }

/*Portfolio*/
.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746; }

.portfolio_title {
  margin: 0px;
  padding: 59px 850px 13.87px 40px;
  font-size: 30px;
  line-height: 36px;
  color: #666d89;
  font-weight: 900; }

.portfolio_text {
  margin: 0;
  padding: 0 44px 0 40px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300; }

.portfolio_types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 10px 0 18px 41px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; }

.portfolio_types li {
  padding: 4px;
  margin: 0 10px 0 0;
  display: inline;
  border: 1px solid #767e9e;
  border-radius: 8px;
  color: #767e9e;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; }

.portfolio_types li:hover {
  cursor: pointer;
  color: white;
  background-color: #f06c64;
  font-size: 16px; }

.portfolio_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0 20px 68px 20px; }

.portfolio_images li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 20px;
  list-style-type: none; }

.portfolio-12 ~ li {
  display: none; }

/*Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2d303a;
  padding: 22px 42px 22px 40px; }

.copyright {
  margin-top: 8px;
  font-size: 13px;
  line-height: 18px;
  color: #666d89; }

.follow_blocks {
  display: inline-block;
  margin: 0; }

.follow_blocks li {
  margin: 0;
  display: inline-block;
  border: 1px solid #666d89;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center; }

.follow_blocks li:hover {
  cursor: pointer;
  border: #f06c64 5px solid;
  -webkit-box-shadow: #f06c64 2px 2px 2px 2px;
          box-shadow: #f06c64 2px 2px 2px 2px; }

.facebook {
  background: url(/src/image/facebook.svg); }

.google {
  background: url(/src/image/google.svg); }

.twiter {
  background: url(/src/image/twiter.svg); }

.in {
  background: url(/src/image/in.svg); }

/*Mobile*/
@media (max-width: 375px) {
  /*Header*/
  .header {
    display: block;
    height: 71px; }

  .logo {
    position: absolute;
    margin-left: 60px;
    margin-top: 13px;
    padding-left: 0;
    display: inline-block; }

  .burger-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 10;
    background-color: #2D303A;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 6px; }

  .burger-menu-navigation a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    background-color: #2D303A;
    color: #ffffff;
    padding-left: 15px;
    cursor: pointer;
    padding-left: 71px;
    font-size: 24px;
    font-family: "Lato-light";
    line-height: 28px;
    letter-spacing: -3.5%;
    font-weight: 700; }

  .burger-menu li {
    height: 50px;
    width: 50px;
    overflow: hidden; }

  .burger-menu li:hover {
    width: 250px;
    height: 812px; }

  .burger-menu-navigation a:hover {
    color: #ea676b; }

  .burger-menu-navigation a:first-child:hover {
    color: white; }

  .burger-menu-navigation a:first-child {
    font-size: 19px;
    position: relative;
    text-indent: 60px;
    margin-bottom: 184px;
    padding-left: 0;
    top: 20px;
    font-size: 19.69px;
    line-height: 24px;
    letter-spacing: -3%;
    font-weight: 700; }

  .burger-menu-navigation a:first-child::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 10px;
    background: url(/src/image/threelines.svg.png);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px; }

  .navigation {
    display: none; }

  /*Slider*/
  .phones {
    height: 375px; }

  .services-types li {
    max-width: 51%; }

  /*Portfolio*/
  .portfolio_images li {
    margin: 2%;
    width: 46%; }

  .portfolio_images {
    padding: 0 2% 6% 2%; }

  /*footer*/
  .copyright {
    display: none; } }
/*Tablet*/
@media (min-width: 375px) and (max-width: 768px) {
  /*Tablet*/
  /*****Header*****/
  .burger-menu {
    display: none; }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .logo {
    display: inline-block;
    position: relative; }

  /*Slider*/
  .phones {
    height: 447px; }

  /*Services*/
  .services-types li {
    width: 29%;
    padding: 0 0 0 15%; }

  .services-types li::before {
    top: 10%;
    left: -5%;
    width: 20%; }

  /*Portfolio*/
  .portfolio_images li {
    margin: 2%;
    width: 29%; }

  .portfolio_images {
    padding: 0 2% 6% 2%; } }
/*Desktop*/
@media (min-width: 768px) {
  /****Header*****/
  .burger-menu {
    display: none; }

  /*****Slider*****/
  .phones {
    height: 594px; }

  /***Services***/
  .services-types li {
    width: 18%; }

  /*Portfolio*/
  .portfolio_images li {
    margin: 2%;
    width: 20%; }

  .portfolio_images {
    padding: 0 2% 6% 2%; } }

/*# sourceMappingURL=main.css.map */