/* Font-family styles */
@font-face {
  font-family: lato-black;
  src: url(../src/fonts/lato-black.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-blackitalic;
  src: url(../src/fonts/lato-blackitalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-bold;
  src: url(../src/fonts/lato-bold.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-bolditalic;
  src: url(../src/fonts/lato-bolditalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-hairline;
  src: url(../src/fonts/lato-hairline.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-hairlineitalic;
  src: url(../src/fonts/lato-hairlineitalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-heavy;
  src: url(../src/fonts/lato-heavy.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-heavyitalic;
  src: url(../src/fonts/lato-heavyitalicttf);
  font-weight: normal; }
@font-face {
  font-family: lato-italic;
  src: url(../src/fonts/lato-italic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-light;
  src: url(../src/fonts/lato-light.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-lightitalic;
  src: url(../src/fonts/lato-lightitalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-medium;
  src: url(../src/fonts/lato-medium.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-mediumitalic;
  src: url(../src/fonts/lato-mediumitalic.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-regular;
  src: url(../src/fonts/lato-regularttf);
  font-weight: normal; }
@font-face {
  font-family: lato-semibold;
  src: url(../src/fonts/lato-semibold.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-semibolditalic;
  src: url(../src/fonts/lato-semibold.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-thin;
  src: url(../src/fonts/lato-thin.ttf);
  font-weight: normal; }
@font-face {
  font-family: lato-thinitalic;
  src: url(../src/fonts/lato-thinitalic.ttf);
  font-weight: normal; }
/* Styles for all document */
body {
  font-family: "lato-light";
  position: relative; }

/*Header*/
.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 40px 28px 40px;
  max-width: 1020px;
  margin: auto; }

.burger-menu {
  display: none;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
  background-color: #2d303a;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 5px; }

.burger-menu-navigation a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #2d303a;
  color: #ffffff;
  padding-left: 15px;
  cursor: pointer;
  padding-left: 71px;
  font-family: lato-medium;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -3.5%; }
  .burger-menu-navigation a:hover {
    color: #ea676b; }
  .burger-menu-navigation a:first-child {
    position: relative;
    text-indent: 80px;
    margin-bottom: 184px;
    padding-left: 0;
    top: 20px;
    font-family: lato-medium;
    font-size: 19px;
    line-height: 23.63px;
    letter-spacing: -3%;
    font-weight: 700; }
    .burger-menu-navigation a:first-child:hover {
      color: white; }
      .burger-menu-navigation a:first-child:hover::before {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
    .burger-menu-navigation a:first-child::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 10px;
      background: url(/src/image/threelines.svg.png);
      background-position: center;
      background-size: cover;
      width: 30px;
      height: 30px; }

.burger-menu li {
  height: 50px;
  width: 50px;
  overflow: hidden; }
  .burger-menu li:hover {
    width: 250px;
    height: 812px;
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s; }
    .burger-menu li:hover a:first-child::before {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }

.logo {
  font-family: lato-medium;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -3%;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin: 0 0 0 5px;
  padding-top: 8px; }

.logo_colored {
  color: #f06c64; }

.navigation {
  font-family: lato-medium;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: -3.5%;
  text-align: right;
  text-transform: uppercase;
  color: white; }

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin: 0;
  margin-top: 14px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation-list li {
  margin-right: 35px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  list-style-type: none; }

.navigation-list li:hover {
  cursor: pointer;
  color: #f06c64; }

.circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white; }

/*Slider*/
.slider {
  position: relative;
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64; }

.wrapper-slider {
  max-width: 1020px;
  margin: auto;
  position: relative; }

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  height: 594px; }

.red {
  display: none;
  list-style: none;
  background: url(/src/image/red.png);
  background-position: center;
  background-size: contain;
  background-color: #f06c64;
  background-repeat: no-repeat;
  width: 100%; }

.blue {
  display: none;
  list-style: none;
  background: url(/src/image/blue.png);
  background-position: center;
  background-size: contain;
  background-color: #648bf0;
  background-repeat: no-repeat;
  width: 100%; }

.arrow-sliders {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: calc((100% - 27px) / 2);
  width: 100%;
  margin: 0;
  z-index: 3; }

.arrow-left {
  width: 16px;
  height: 27px;
  background: url(/src/image/arrow-left.svg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin: 0 3.92%;
  border-width: 0; }

.arrow-right {
  width: 16px;
  height: 27px;
  background: url(/src/image/arrow-right.svg);
  background-size: contain;
  background-position: center;
  display: inline-block;
  margin: 0 3.92%;
  border-width: 0; }

/*Services*/
.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff; }

.wrapper-services {
  padding: 40px 40px 64px 40px;
  margin: auto;
  max-width: 1020px; }
  .wrapper-services .services-title {
    font-family: lato-semibold;
    height: 36px;
    color: #666d89;
    font-size: 30px;
    line-height: 36px;
    weight: 900; }
  .wrapper-services .services-text {
    margin: 0 0 28px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e; }

.services-types {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #666d89; }
  .services-types li {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: lato-semibold;
    color: #666d89;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    margin: 0;
    color: #767e9e;
    position: relative;
    list-style-type: none;
    padding-left: 80px;
    width: calc(100% / 3); }
  .services-types h3 {
    margin: 0;
    line-height: 1.4em; }
  .services-types p {
    font-family: lato-light;
    color: #767e9e;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: justify;
    margin-top: 7px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 0; }

.services-types li::before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
  width: 58px;
  height: 58px;
  border: 2px solid #666d89;
  border-radius: 50%; }

.design::before {
  background: url(/src/image/services-item-1--nocircle.svg); }

.ideas::before {
  background: url(/src/image/services-item-2--nocircle.svg); }

.answer::before {
  background: url(/src/image/services-item-3--nocircle.svg); }

.layout::before {
  background: url(/src/image/services-item-4--nocircle.svg); }

.support::before {
  background: url(/src/image/services-item-5--nocircle.svg); }

.star::before {
  background: url(/src/image/services-item-6--nocircle.svg); }

/*Portfolio*/
.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746; }

.wrapper-portfolio {
  max-width: 1020px;
  margin: auto;
  padding: 59px 40px 68px 40px; }
  .wrapper-portfolio .portfolio_title {
    font-family: lato-semibold;
    color: #666d89;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 13.87px 0; }
  .wrapper-portfolio .portfolio_text {
    font-family: lato-light;
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin: 0 0 16px 0; }
  .wrapper-portfolio .portfolio_types {
    font-family: lato-light;
    font-size: 12px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 400;
    margin: 0;
    padding: 0; }

.portfolio_types li {
  padding: 0px;
  margin: 0 10px 0 0;
  display: inline;
  border: 1px solid #767e9e;
  border-radius: 8px;
  color: #767e9e;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; }

.portfolio_types li:hover {
  cursor: pointer;
  color: white;
  background-color: #f06c64;
  font-size: 16px; }

.portfolio_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.portfolio_images li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 2% 2% 0 0;
  list-style-type: none;
  width: 23%; }
  .portfolio_images li img {
    width: 100%; }

.portfolio-12 ~ li {
  display: none; }

/*Footer*/
.footer {
  background-color: #2d303a; }

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 42px 22px 40px;
  max-width: 1020px;
  margin: auto; }

.copyright {
  font-family: lato-light;
  font-weight: 900;
  color: #666d89;
  font-size: 13px;
  line-height: 18px;
  margin-top: 8px;
  font-size: 13px;
  line-height: 18px; }

.follow_blocks {
  display: inline-block;
  margin: 0;
  padding: 0; }

.follow_blocks li {
  margin: 0;
  display: inline-block;
  border: 1px solid #666d89;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center; }

.follow_blocks li:hover {
  cursor: pointer;
  border: #f06c64 5px solid;
  -webkit-box-shadow: #f06c64 2px 2px 2px 2px;
          box-shadow: #f06c64 2px 2px 2px 2px; }

.facebook {
  background: url(/src/image/facebook.svg); }

.google {
  background: url(/src/image/google.svg); }

.twiter {
  background: url(/src/image/twiter.svg); }

.in {
  background: url(/src/image/in.svg); }

/*Tablet*/
@media (max-width: 768px) {
  /*Tablet*/
  /*****Header*****/
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 35px; }

  /*Slider*/
  .phones {
    height: 447px; }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .logo {
    display: inline-block;
    position: relative; }

  /*Services*/
  .services-types li {
    width: calc(100% / 2); }

  /*Portfolio*/
  .portfolio_images li {
    width: 31%; } }
/*Mobile*/
@media (max-width: 375px) {
  /*Header*/
  .wrapper {
    display: block;
    height: 71px;
    padding: 0; }

  .burger-menu {
    display: block; }

  .logo {
    font-family: lato-medium;
    font-weight: 700;
    font-size: 19px;
    line-height: 23.63px;
    letter-spacing: -3%;
    position: absolute;
    margin-left: 35%;
    margin-top: 18px;
    padding-left: 0;
    display: inline-block; }

  .navigation {
    display: none; }

  /*Slider*/
  .phones {
    height: 218px; }

  .services-types li {
    width: 100%; }

  /*Portfolio*/
  .portfolio_images li {
    width: 48%; }

  .portfolio-8 ~ li {
    display: none; }

  /*footer*/
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .follow_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .follow_us ul {
    padding: 0; }

  .copyright {
    display: none; } }
.active {
  display: block; }

/*# sourceMappingURL=main.css.map */